header{
    display:flex;
    justify-content: space-between;
    background-color:maroon;
    color: azure;
}
.btn{
    list-style: none;

}
button{
    padding: 1rem;
    border-radius:1.50rem;
    background-color: aqua;
    color:brown;

}